<div class="comment-content">
  <div class="comment-header">
    <div class="comment-header-left">
      <div class="comment-photo-user">
        <%= cl_image_tag comment.user.photo.key, width: 400, crop: :fill %>
      </div>
      <div class="comment-info-user">
        <div class="comment-pseudo-user label-bold">
          <%= comment.user.nick_name %>
        </div>
        <div class="comment-date">
          <p> il y a <%= ((Time.now - comment.created_at)/(3600*24)).floor %> jour(s).</p>
        </div>
      </div>
    </div>
    <div class="comment-header-right">
      <div class="card-spot-infos-rating-stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
      <%= comment.rating %>
    </div>
  </div>
  <% if comment.images.attached? %>
    <% comment.images.each do |image| %>
      <%= cl_image_tag image.key, width: 400, crop: :fill %>
    <% end %>
  <% end %>
  <p class="mb-3"><%= comment.content %></p>
  <% if Like.find_by(user: current_user, comment: comment) %>
    <%= link_to "Unliker", like_path(Like.find_by(user: current_user, comment: comment)), method: :delete %>
  <% else %>
    <%= link_to "Liker", comment_likes_path(comment), method: :post %>
  <% end %>
</div>
