<div class="comment-content">
  <div class="comment-header">
    <div class="comment-header-left">
      <div class="comment-photo-user">
        <%= cl_image_tag comment.user.photo.key, width: 400, crop: :fill %>
      </div>
      <div class="comment-info-user">
        <div class="comment-pseudo-user label-bold">
          <%= comment.user.nick_name %>
        </div>
        <div class="comment-date label">
          <% if ((((Time.now - comment.created_at)/(3600*24)).floor) > 0) %>
            Il y a <%= ((Time.now - comment.created_at)/(3600*24)).floor %> jour(s).
          <% else %>
            Il y a <%= ((Time.now - comment.created_at)/3600).floor %> heure(s).
          <% end %>
        </div>
      </div>
    </div>
    <div class="comment-header-right">
      <div class="card-spot-infos-rating-stars">
        <% comment.rating.floor.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5 - comment.rating.floor).times do %>
          <i class="far fa-star"></i>
        <% end %>
      </div>
    </div>
  </div>
  <% if comment.images.attached? %>
    <% comment.images.each do |image| %>
    <div class="comments-photos">
      <%= cl_image_tag image.key, width: 400, crop: :fill %>
    </div>
    <% end %>
  <% end %>
  <p><%= comment.content %></p>

  <div data-controller="like" class="like-controls">
    <div data-like-target="button">
      <% if like = Like.find_by(user: current_user, comment: comment) %>
        <%= render "likes/destroy", like: like, comment: comment %>
      <% else %>
        <%= render "likes/create", comment: comment %>
      <% end %>
    </div>
  </div>
</div>
