<div class="comment-content">
  <div class="comment-header">
    <div class="comment-header-left">
      <div class="comment-photo-user">
        <%= cl_image_tag comment.user.photo.key, width: 400, crop: :fill %>
      </div>
      <div class="comment-info-user">
        <div class="comment-pseudo-user label-bold">
          <%= comment.user.nick_name %>
        </div>
        <div class="comment-date label">
          <% if ((((Time.now - comment.created_at)/(3600*24)).floor) > 0) %>
            Il y a <%= ((Time.now - comment.created_at)/(3600*24)).floor %> jour(s).
          <% else %>
            Il y a <%= ((Time.now - comment.created_at)/3600).floor %> heure(s).
          <% end %>
        </div>
      </div>
    </div>
    <div class="comment-header-right">
      <div class="card-spot-infos-rating-stars">
        <% comment.rating.floor.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5 - comment.rating.floor).times do %>
          <i class="far fa-star"></i>
        <% end %>
      </div>
    </div>
  </div>
  <% if comment.images.attached? %>
    <div id="comment-images" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <% comment.images.each_with_index do |photo, index|%>
          <button type="button" data-bs-target="#comment-images" data-bs-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>", aria-current="<%= index.zero? %>"  aria-label="Slide 1"></button>
      <% end %>
    </div>
    <div class="carousel-inner">
      <% comment.images.each_with_index do |photo, index|%>
        <div class="carousel-item <%= 'active' if index.zero? %>" data-bs-interval= '18000'>
          <%= cl_image_tag photo.key, crop: :fill, class:"d-block image-rounded" %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#comment-images" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#comment-images" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <% end %>
  <p><%= comment.content %></p>

  <div data-controller="like" class="like-controls">
    <div data-like-target="button">
      <% if like = Like.find_by(user: current_user, comment: comment) %>
        <%= render "likes/destroy", like: like, comment: comment %>
      <% else %>
        <%= render "likes/create", comment: comment %>
      <% end %>
    </div>
  </div>
</div>
