<!--Image du spot-->
<div class="card-spot-carousel-show">
  <%= link_to spots_path do %>
    <i class="fas fa-angle-left card-image-tag"></i>
  <% end %>

  <div data-controller="favorite" class="favorite-controls">
    <div data-favorite-target="button">
      <% if @user_favorite %>
        <%= render "favorites/destroy", favorite: @user_favorite, spot: @spot %>
      <% else %>
        <%= render "favorites/create", spot: @spot %>
      <% end %>
    </div>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <% @spot.photos.each_with_index do |photo, index|%>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>", aria-current="<%= index.zero? %>"  aria-label="Slide 1"></button>
      <% end %>
    </div>
    <div class="carousel-inner">
      <% @spot.photos.each_with_index do |photo, index|%>
        <div class="carousel-item <%= 'active' if index.zero? %>">
          <%= cl_image_tag photo.key, crop: :fill, class:"d-block w-100 image-size" %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container-header">
  <div class="card-spot-infos">
    <div class="card-spot-infos-rating">
      <div class="card-spot-infos-rating-stars">
        <% @spot.avg_rating.floor.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5 - @spot.avg_rating.floor).times do %>
          <i class="far fa-star"></i>
        <% end %>
      <div class="pills pop">
        <%= @spot.spot_type %>
      </div>
      </div>
    </div>

    <div class="card-spot-infos-title">
      <h2><%= @spot.full_name %> <i class="fas fa-cloud"></i></h2>
    </div>

    <div class="card-spot-infos-localisation">
      <i class="fas fa-map-marker-alt"></i>
      <div class="card-spot-infos-localisation-city text-x-small-bold">
      <%= @spot.address %> à 3 km
      </div>
    </div>
    <%= @spot.category %>
    <!-- upvote & downvote -->
    <%= render 'vote_header', spot: @spot %>

  </div>
</div>
