<!--Image du spot-->
<div class="card-spot-carousel-show">
  <%= link_to spots_path do %>
    <i class="fas fa-angle-left card-image-tag"></i>
  <% end %>

  <% if @user_favorite %>
    <%= button_to favorite_path(@user_favorite), method: :delete, class:"favorites-button" do %>
      <i class="far fa-heart"></i>
    <% end %>
  <% else %>
    <%= button_to spot_favorites_path(@spot), class:"favorites-button", method: :post do %>
      <i class="fas fa-heart"></i>
    <% end %>
  <% end %>



  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <% @spot.photos.each do |photo|%>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <% end %>
    </div>
    <div class="carousel-inner">
      <% @spot.photos.each do |photo|%>
        <div class="carousel-item active">
          <%= cl_image_tag photo.key, crop: :fill %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      <% end %>
    </div>
  </div>
</div>

<div class="container-header">
  <div class="card-spot-infos">
    <div class="card-spot-infos-rating">
      <div class="card-spot-infos-rating-stars">
        <% @spot.avg_rating.floor.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5 - @spot.avg_rating.floor).times do %>
          <i class="far fa-star"></i>
        <% end %>
      <div class="pills pop">
        <%= @spot.spot_type %>
      </div>
      </div>
    </div>

    <div class="card-spot-infos-title">
      <h2><%= @spot.full_name %> <i class="fas fa-cloud"></i></h2>
    </div>

    <div class="card-spot-infos-localisation">
      <i class="fas fa-map-marker-alt"></i>
      <div class="card-spot-infos-localisation-city text-x-small-bold">
      <%= @spot.address %> à 3 km
      </div>
    </div>
    <%= @spot.category %>
    <!-- upvote & downvote -->
    <div>
      <%= pluralize(@upvote.count), 'approuver' %>
      <%= button_to '+1', upvote_spot_path(@spot), method: :patch %>
      <%= pluralize(@downvote.count), 'désapprouver' %>
      <%= button_to '-1', downvote_spot_path(@spot), method: :patch %>
    </div>

  </div>
</div>
