<%= render 'spots/header', spot: @spot %>
<div class="container-description">
  <div class="show-onglets">
    <ul class="nav">
      <li class="nav-item">
        <%= link_to spot_path(@spot), class:"nav-link label nav-left" do %>
          <i class="far fa-file-alt"></i> Présentation
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to forecast_spot_path(@spot), class:"nav-link label" do %>
          <i class="fas fa-thermometer-empty"></i> Météo
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to spot_comments_path(@spot), class:"nav-link active label-bold nav-right" do %>
          <i class="far fa-comment-alt"></i> Commentaires
        <% end %>
      </li>
    </ul>
  </div>

  <div data-controller="spot-comments">
    <% if @spot.comments.empty? %>
      <div class="no-comments-container">
        <%= image_tag 'icons/calm-sea.png' %>
        <%= render 'comments/rating', spot: @spot%>
      </div>
    <% else %>
      <div data-target="rating">
        <%= render 'comments/rating', spot: @spot%>
      </div>

      <div class="comments-sorting">
        <div class="pills <%= 'active' if params[:order] == 'recent' || !params[:order].present? %>">
          <%= link_to comments_spot_path(order: :recent) do%>
            RECENT
          <% end %>
        </div>

        <div class="pills <%= 'active' if params[:order] == 'rating'%>" >
          <%= link_to comments_spot_path(order: :rating) do%>
            MIEUX NOTÉS
          <% end %>
        </div>

        <div class="pills <%= 'active' if params[:order] == 'stars'%>">
          <%= link_to comments_spot_path(order: :stars) do%>
            5 étoiles
          <% end %>
        </div>

        <div class="pills <%= 'active' if params[:order] == 'popular'%>">
          <%= link_to comments_spot_path(order: :popular) do%>
            populaires
          <% end %>
        </div>
      </div>

      <div data-spot-comments-target='list'>
        <% @comments.each do |comment| %>
          <%= render 'spots/comment', comment: comment %>
        <% end %>
      </div>
    <% end %>

    <%= render "comments/form", spot: @spot, comment: @comment %>
  </div>


<script src="https://cdn.jsdelivr.net/npm/@mojs/core"></script>
