<%= render 'spots/header', spot: @spot %>
<div class="container-description">
  <div class="show-onglets">
    <ul class="nav">
      <li class="nav-item">
        <%= link_to spot_path(@spot), class:"nav-link label nav-left" do %>
          <i class="far fa-file-alt"></i> Présentation
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to forecast_spot_path(@spot), class:"nav-link label" do %>
          <i class="fas fa-thermometer-empty"></i> Météo
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to spot_comments_path(@spot), class:"nav-link active label-bold nav-right" do %>
          <i class="far fa-comment-alt"></i> Commentaires
        <% end %>
      </li>
    </ul>
  </div>

  <div data-controller="spot-comments">
    <% if @spot.comments.empty? %>
      <div class="no-comments-container">
        <%= image_tag 'icons/calm-sea.png' %>
        <%= render 'comments/rating', spot: @spot%>
      </div>
    <% else %>
      <%= render 'comments/rating', spot: @spot%>
      <div class="comments-sorting">
        <div class="nav d-flex forecast-days" id="v-pills-tab" role="tablist">
          <button class="nav-link pills" id="v-pills-1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-1" type="button" role="tab" aria-controls="v-pills-1" aria-selected="false">
            RECENT
          </button>
          <button class="nav-link pills active" id="v-pills-0-tab" data-bs-toggle="pill" data-bs-target="#v-pills-0" type="button" role="tab" aria-controls="v-pills-0" aria-selected="true">
            <%= link_to comments_spot_path(order: :rating) do%>
              MIEUX NOTÉS
              <% @comments.sort_by(&:rating).reverse %>
            <% end %>
          </button>

          <button class="nav-link pills" id="v-pills-1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-1" type="button" role="tab" aria-controls="v-pills-1" aria-selected="false">
            DEMAIN

            <% @comments.where("rating = 5")%>

          </button>
          <button class="nav-link pills" id="v-pills-1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-1" type="button" role="tab" aria-controls="v-pills-1" aria-selected="false">
            DEMAIN
          </button>
        </div>
      </div>

      <div class="comments-sorting">
        <div class="comments-sorting-text label-bold">
          Récent
          <%# c'est classé d'origine par ordre décroissant de temps %>
        </div>
        <div class="pills">
        </div>
        <div class="pills active">
          Mieux notés
          <% @comments.where("rating = 5")%>
        </div>
        <div class="pills">
          5 étoiles
          <% @comments.sort_by(&:rating).reverse %>
        </div>
        <div class="pills">
          Populaires
          <%# Montrer les commentaires avec le plus de like en premier %>
        </div>
      </div>

      <div data-spot-comments-target='list'>
        <% @comments.each do |comment| %>
          <%= render 'spots/comment', comment: comment %>
        <% end %>
      </div>
    <% end %>

    <%= render "comments/form", spot: @spot, comment: @comment %>
  </div>
