<%= render 'spots/header', spot: @spot %>
<div class="container-description">
  <div class="show-onglets">
    <ul class="nav">
      <li class="nav-item">
        <%= link_to spot_path(@spot), class:"nav-link label-bold nav-left" do %>
          <i class="far fa-file-alt"></i> Présentation
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to forecast_spot_path(@spot), class:"nav-link active label" do %>
          <i class="fas fa-thermometer-empty"></i> Météo
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to spot_comments_path(@spot), class:"nav-link label nav-right" do %>
          <i class="far fa-comment-alt"></i> Commentaires
        <% end %>
      </li>
    </ul>
  </div>

  <div class="nav d-flex forecast-days" id="v-pills-tab" role="tablist">
    <button class="nav-link pills active" id="v-pills-0-tab" data-bs-toggle="pill" data-bs-target="#v-pills-0" type="button" role="tab" aria-controls="v-pills-0" aria-selected="true">
      AUJOURD'HUI
    </button>
    <button class="nav-link pills" id="v-pills-1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-1" type="button" role="tab" aria-controls="v-pills-1" aria-selected="false">
      DEMAIN
    </button>
    <% @weathers[2..-1].each_with_index do |weather, index| %>
      <button class="nav-link pills" id="v-pills-<%= index %>-tab" data-bs-toggle="pill" data-bs-target="#v-pills-<%= index %>" type="button" role="tab" aria-controls="v-pills-<%= index %>" aria-selected="false">
        <%= I18n.l(Date.today + weather.day.days, format: "%A") %>
      </button>
    <% end %>
  </div>

  <div class="tab-content" id="v-pills-tabContent">
    <% @weathers.each_with_index do |weather, index|%>
      <div class="container tab-pane fade <%= 'show active' if index.zero? %>" id="v-pills-<%= index %>" role="tabpanel" aria-labelledby="v-pills-<%= index %>-tab">
        <div class="row">
          <div class="weather-picto col">
            <div class="weather-picto-left">
              <%= image_tag 'icons/tempB.svg'%>
            </div>
            <div class="weather-picto-right">
              <div class="weather-picto-right-title text-x-small">
                temp. min.
              </div>
              <h3><%= weather.tmin%> °C</h3>
            </div>
          </div>

          <div class="weather-picto col">
            <div class="weather-picto-left">
              <%= image_tag 'icons/tempH.svg'%>
            </div>
            <div class="weather-picto-right">
              <div class="weather-picto-right-title text-x-small">
                temp. max.
              </div>
              <h3><%= weather.tmax %> °C</h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="weather-picto col">
            <div class="weather-picto-left">
              <%= get_picto_for(weather.weather) %>
            </div>
            <div class="weather-picto-right">
              <div class="weather-picto-right-title text-x-small">
                météo
              </div>
              <h3><%= weather.weather %></h3>
            </div>
          </div>

          <div class="weather-picto col">
            <div class="weather-picto-left">
              <%= image_tag 'icons/sund.svg'%>
            </div>
            <div class="weather-picto-right">
              <div class="weather-picto-right-title text-x-small">
                uv
              </div>
              <h3>2</h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="weather-picto col">
            <div class="weather-picto-left">
              <%= image_tag 'icons/wind.svg'%>
            </div>
            <div class="weather-picto-right">
              <div class="weather-picto-right-title text-x-small">
                vent
              </div>
              <h3><%= weather.wind %> km/h</h3>
            </div>
          </div>

          <div class="weather-picto col">
            <div class="weather-picto-left">
              <%= image_tag 'icons/rafale.svg' %>
            </div>
            <div class="weather-picto-right">
              <div class="weather-picto-right-title text-x-small">
                rafales
              </div>
              <h3><%= weather.gust %> km/h</h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="weather-picto col">
            <div class="weather-picto-left">
              <%= image_tag 'icons/windDir.svg'%>
            </div>
            <div class="weather-picto-right">
              <div class="weather-picto-right-title text-x-small">
                dir. du vent
              </div>
              <h3><%= weather.wind_direction %>°</h3>
            </div>
          </div>

          <div class="weather-picto col">
            <div class="weather-picto-left">
              <%= image_tag 'icons/humidity.svg'%>
            </div>
            <div class="weather-picto-right">
              <div class="weather-picto-right-title text-x-small">
                pluie
              </div>
              <h3><%= weather.probarain%></h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="weather-picto col">
            <div class="weather-picto-left">
              <%= image_tag 'icons/maréeB.svg'%>
            </div>
            <div class="weather-picto-right">
              <div class="weather-picto-right-title text-x-small">
                marée basse
              </div>
              <h3>16h32</h3>
            </div>
          </div>

          <div class="weather-picto col">
            <div class="weather-picto-left">
              <%= image_tag 'icons/maréeH.svg'%>
            </div>
            <div class="weather-picto-right">
              <div class="weather-picto-right-title text-x-small">
                marée haute
              </div>
              <h3>23h32</h3>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="gps-container btn-cta btn-fixed call-to-action">
    Plus d'infos météo
  </div>

</div>
