<div class="container-map-box">
  <%= form_for spots_path, method: :get do %>
    <div class="map-box-search"data-controller="geocoder" data-geocoder-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      <%= text_field_tag :location,
        params[:location],
        class: "form-control d-none",
        data: { geocoder_target: "address" },
        placeholder: "Where?"
      %>
    </div>
    <div class="category-spot-search d-none">
      <%= hidden_field_tag :spot_type, params[:spot_type] %>
      <%= hidden_field_tag :order, params[:order] %>

      <% Activity.all.each do |activity| %>
        <%= label_tag "activities_#{activity.id}", activity.name %>
        <%= check_box_tag "activities[]", activity.id, params[:activities]&.include?(activity.id.to_s), id: "activities_#{activity.id}" %>
      <% end %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="index-sorting">

    <div class="pills active">
      <%= link_to spots_path(location: params[:location], activities: params[:activities]) do %>
        Tous
      <% end %>
    </div>
    <div class="pills <%= 'active' if params[:order] == 'desc_moyen_rating'%>">
      <%= link_to spots_path(location: params[:location], activities: params[:activities], order: "desc_moyen_rating", spot_type: params[:spot_type]) do%>
        Mieux notés
      <% end %>
    </div>
    <div class="pills <%= 'active' if params[:spot_type] == 'Plage'%>">
      <%= link_to spots_path(location: params[:location], activities: params[:activities], order: params[:order], spot_type: "Plage") do %>
        Plage
      <% end %>
    </div>
    <div class="pills <%= 'active' if params[:spot_type] == 'Spot sauvage'%>">
      <%= link_to spots_path(location: params[:location], activities: params[:activities], order: params[:order], spot_type: "Spot sauvage") do %>
        Spot sauvage
      <% end %>
    </div>
    <div class="pills <%= 'active' if params[:spot_type] == 'École'%>">
      <%= link_to spots_path(location: params[:location], activities: params[:activities], order: params[:order], spot_type: "École") do %>
        École
      <% end %>
    </div>
    <div class="pills <%= 'active' if params[:spot_type] == 'Port'%>">
      <%= link_to spots_path(location: params[:location], activities: params[:activities], order: params[:order], spot_type: "Port") do %>
        Port
      <% end %>
    </div>
  </div>

  <div style="width: 400x; height: 320px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
<div class="container-header container-index">
  <div class="container-header-results">
    <h3><%= pluralize(@spots.size, "résultat", plural: "résultats") %></h3>
  </div>

  <% @spots.each do |spot| %>
    <%= link_to spot_path(spot) do %>
      <div class="card-spot">
        <div class="card-spot-carousel">
          <div class="card-image-tag pills pop">
            most popular
          </div>
           <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <% spot.photos.each_with_index do |photo, index|%>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>", aria-current="<%= index.zero? %>"  aria-label="Slide 1"></button>
              <% end %>
            </div>
            <div class="carousel-inner">
              <% spot.photos.each_with_index do |photo, index|%>
                <div class="carousel-item <%= 'active' if index.zero? %>" data-bs-interval="20000">
                  <%= cl_image_tag photo.key, crop: :fill, class:"d-block w-100 h-100" %>
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class="card-spot-infos">
          <div class="card-spot-infos-rating">
            <div class="card-spot-infos-rating-stars">
              <% spot.avg_rating.floor.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <% (5 - spot.avg_rating.floor).times do %>
                <i class="far fa-star"></i>
              <% end %>
            </div>
            <div class="pills">
              <%= spot.spot_type %>
            </div>
          </div>

          <div class="card-spot-infos-title">
            <h2><%= spot.full_name %></h2>
            <%= get_picto_for(spot.weathers.first.weather) %>
          </div>

          <div class="card-spot-infos-localisation">
            <i class="fas fa-map-marker-alt"></i>
            <div class="card-spot-infos-localisation-city text-x-small-bold">
              <%= spot.address %> <span class="text-x-small">· à 12km</span>
            </div>
          </div>

          <div class="show-activities-content">
            <% spot.activities.each do |activity| %>
              <%=  image_tag "icons/#{activity.icon}" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
