<h1>Spots</h1>
<%= form_for spots_path, method: :get do %>
  <div data-controller="geocoder" data-geocoder-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <%= text_field_tag :location,
      params[:location],
      class: "form-control d-none",
      data: { geocoder_target: "address" },
      placeholder: "Where?"
    %>
  </div>

  <%= hidden_field_tag :spot_type, params[:spot_type] %>
  <%= hidden_field_tag :order, params[:order] %>

  <% Activity.all.each do |activity| %>
    <%= label_tag "activities_#{activity.id}", activity.name %>
    <%= check_box_tag "activities[]", activity.id, params[:activities]&.include?(activity.id.to_s), id: "activities_#{activity.id}" %>
  <% end %>
  <%= submit_tag "Search", class: "btn btn-primary" %>

<%= link_to spots_path(location: params[:location], activities: params[:activities], order: params[:order]) do %>
  <p>Toutes les types</p>
<% end %>
<%= link_to spots_path(location: params[:location], activities: params[:activities], order: params[:order], spot_type: "Plage") do %>
  <p>Plage</p>
<% end %>
<%= link_to spots_path(location: params[:location], activities: params[:activities], order: params[:order], spot_type: "Spot sauvage") do %>
  <p>Spot sauvage</p>
<% end %>
<%= link_to spots_path(location: params[:location], activities: params[:activities], order: params[:order], spot_type: "École") do %>
  <p>École</p>
<% end %>
<%= link_to spots_path(location: params[:location], activities: params[:activities], order: params[:order], spot_type: "Port") do %>
  <p>Port</p>
<% end %>

<% if params[:spot_type] %>
    <p>Résultats pour <%= params[:spot_type] %></p>
<% end %>

<div class="dropdown-sort my-2">
  <button class="btn btn-ghost btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Trier par
  </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to "Meilleurs notes", spots_path(location: params[:location], activities: params[:activities], order: "desc_moyen_rating", spot_type: params[:spot_type]), class: "dropdown-item"%>
    </div>
</div>

<div style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>

<% @spots.each do |spot| %>
  <div>
    <%= link_to spot_path(spot) do %>
      <div>
        <% spot.photos.each do |photo| %>
          <%= cl_image_tag photo.key, crop: :fill, width: 400 %>
        <% end %>
        <%= spot.full_name %>
        <%= spot.address %>
        <%= spot.avg_rating %>
      </div>
    <% end %>
  </div>
<% end %>
