<%= render 'header', spot: @spot%>
<div class="show-descr">
  <p><%= @spot.description %></p>

  <% if @spot_service %>
  <%=  "coucou" %>

  <% end %>

</div>

<div class="gps-container">
  <p>Obtenir l'itinéraire</p>
</div>

<% if @user_favorite %>
  <%= button_to 'Destroy', favorite_path(@user_favorite), method: :delete %>
<% else %>
  <%= button_to "Favorite", spot_favorites_path(@spot), method: :post %>
<% end %>