<%= render 'spots/header', spot: @spot %>
<div class="container-description">
  <div class="show-onglets">
    <ul class="nav">
      <li class="nav-item">
        <%= link_to spot_path(@spot), class:"nav-link active label-bold nav-left" do %>
          <i class="far fa-file-alt"></i> Présentation
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to forecast_spot_path(@spot), class:"nav-link label" do %>
          <i class="fas fa-thermometer-empty"></i> Météo
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to spot_comments_path(@spot), class:"nav-link label nav-right" do %>
          <i class="far fa-comment-alt"></i> Commentaires
        <% end %>
      </li>
    </ul>
  </div>


<!-- Météo du spot
<div class="spot-weather">
<%= @spot.weathers %>
</div> -->

  <div class="show-descr">
    <p><%= @spot.description %></p>

    <div class="show-descr-grid">
      <div class="show-descr-grid-type label-bold">
        Type
      </div>
      <div class="show-descr-grid-category label-bold">
        Categorie
      </div>
      <div class="show-descr-grid-fluent label-bold">
        Baignade
      </div>
      <div class="show-descr-grid-type-content label">
        <%= @spot.spot_type %>
      </div>
      <div class="show-descr-grid-category-content label">
        Galets
      </div>
      <div class="show-descr-grid-fluent-content label">
        Vert
      </div>
    </div>

    <div class="show-descr-services label-bold">
      Services
    </div>
    <div class="show-descr-services-content">
      <% if @services.parking? %>
        <%=  image_tag "icons/Parking.svg" %>
      <% end %>
      <% if @services.restaurant? %>
        <%=  image_tag "icons/Restaurant_proche.svg" %>
      <% end %>
      <% if @services.shower? %>
        <%=  image_tag "icons/Douches_proches.svg" %>
      <% end %>
      <% if @services.camping? %>
        <%=  image_tag "icons/Camping_proche.svg" %>
      <% end %>
      <% if @services.beach_surveillance? %>
        <%=  image_tag "icons/Baignade_surveillee.svg" %>
      <% end %>
    </div>
  </div>

  <div class="show-activities label-bold">
   Activités
  </div>
  <div class="show-activities-content">
    <% @activities.each do |activity| %>
      <%=  image_tag "icons/#{activity.icon}" %>
    <% end %>
  </div>

  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
  <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.js"></script>

  <div class="show-comments-photos label-bold">
    Toutes les photos du spots
  </div>
  <div class="grid-masonry">
  <div class="grid-sizer-masonry"></div>
    <% @spot.comments.each do |comment| %>
      <% if comment.images.attached? %>
        <div class="grid-item-masonry">
          <% comment.images.each do |image| %>
            <%= cl_image_tag image.key, crop: :fill %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="gps-container btn-cta btn-fixed call-to-action">
    Obtenir l'itinéraire
  </div>

</div>
