<div class="container-fluid bg-white">
  <div class="d-flex justify-content-between align-items-center">
    <%= link_to spots_path do %>
      <i class="fas fa-chevron-left m-2"></i>
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fas fa-sign-out-alt"></i>
    <% end %>
  </div>

  <div class= "header m-2">
    <% if user.photo.present? %>
      <%= cl_image_tag user.photo.key, crop: :fill, class: "avatar" %>
    <% else %>
      <p>Non renseigné</p>
    <% end %>

    <p class="label-bold user-nickname"><%= user.nick_name %></p>
    <p class="text-x-small"><%= user.status %></p>
  </div>

  <% unless user.status == "Vieux Briscard" %>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: <%= user.next_status[:completion_percent] %>%;" aria-valuenow="<%= user.profile_exp %>" aria-valuemin="0" aria-valuemax="<%= user.next_status[:next_status_level] %>"></div>
    </div>
    <p class="text-x-small mb-3">Plus que <strong><%= user.next_status[:remaining_points] %></strong> points avant de devenir <%= user.next_status[:next_status] %></p>
  <% end %>
</div>

<div class="show-onglets onglets-profil">
  <ul class="nav">
    <li class="nav-item">
      <%= link_to profile_path(@profile), class:"nav-link #{'active' if action_name == 'show'} label-bold nav-left" do %>
        <i class="far fa-file-alt"></i> Infos
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to spots_profile_path, class:"nav-link #{'active' if action_name == 'spots'} label-bold" do %>
        <i class="fas fa-thermometer-empty"></i> Spots
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to comments_profile_path, class:"nav-link #{'active' if action_name == 'comments'} label-bold nav-right" do %>
        <i class="far fa-comment-alt"></i> Commentaires
      <% end %>
    </li>
  </ul>
</div>