<div class="container-fluid bg-white">
  <%= link_to spots_path do %>
    <i class="fas fa-chevron-left m-2"></i>
  <% end %>

  <div class= "header m-2">
    <% if @user.photo.present? %>
      <%= cl_image_tag @user.photo.key, crop: :fill, class: "avatar" %>
    <% else %>
      <p>Non renseigné</p>
    <% end %>

    <p class="label-bold user-nickname"><%= @user.nick_name %></p>
    <p class="text-x-small"><%= @user.status %></p>
  </div>

  <% unless @user.status == "Vieux Briscard" %>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: <%= @user.next_status[:completion_percent] %>%;" aria-valuenow="<%= @user.profile_exp %>" aria-valuemin="0" aria-valuemax="<%= @user.next_status[:next_status_level] %>"></div>
    </div>
    <p class="text-x-small">Plus que <strong><%= @user.next_status[:remaining_points] %></strong> points avant de devenir <%= @user.next_status[:next_status] %></p>
  <% end %>

  <div class="show-onglets">
    <ul class="nav">
      <li class="nav-item">
        <%= link_to profile_path(@profile), class:"nav-link active label-bold nav-left" do %>
          <i class="far fa-file-alt"></i> Informations
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class:"nav-link label-bold" do %>
          <i class="fas fa-thermometer-empty"></i> Mes Spots
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class:"nav-link  label-bold nav-right" do %>
          <i class="far fa-comment-alt"></i> Mes Posts
        <% end %>
      </li>
    </ul>
  </div>

  <div class="show-descr-grid">
    <div class="show-descr-grid-type label-bold txt-primary">
      Prénom
      <% if @user.last_name.present? %>
        <p class="user-text"><%= @user.last_name %></p>
      <% else %>
        <p class="user-text user-text-disabled">Non renseigné</p>
      <% end %>
    </div>

    <div class="show-descr-grid-type label-bold txt-primary">
      Nom
      <% if @user.first_name.present? %>
        <p class="user-text"><%= @user.first_name %></p>
      <% else %>
        <p class="user-text user-text-disabled">Non renseigné</p>
      <% end %>
    </div>

    <div class="show-descr-grid-type label-bold txt-primary">
      Anniversaire
      <% if @user.birthday.present? %>
      <p class="user-text"><%= @user.birthday %></p>
      <% else %>
        <p class="user-text user-text-disabled">Non renseigné</p>
      <% end %>
    </div>
  </div>

  <p class="label-bold txt-primary">Sports Favoris</p>
  <div>
    <div class="favorite_sport">
      <%= image_tag "icons/SauteFalaise-small.svg"  %>
    </div>
    <div class="favorite_sport">
      <%= image_tag "icons/Scuba-small.svg" %>
    </div>
  </div>

</div>

<%= link_to "Editer mon Profil", edit_profile_path, class:"btn btn-primary w-100 btn-gradient btn-fixed-bottom"%>

