<%= simple_form_for [ spot, comment ], html: { data: {spot_comments_target: 'form', uppy:'comment[images][]'}, class:"d-none px-3", id:"form-comments"} do |f| %>
  <div class="form-exit text-x-small-bold", data-spot-comments-target= "exit", data-action = "click->spot-comments#exit">Quitter</div>
  <%= f.input :content, label:"Commentaire", input_html: { data: { spot_comments_target: "input" } }, class:"input-content" %>
  <%= f.input :rating, label:"note", input_html: { data: { spot_comments_target: "input" } }, class:"input-rating label" %>
  <% if comment.images.attached? %>
    <% comment.images.each do |image| %>
      <%= cl_image_tag image.key, width: 280, data: { behavior: 'uppy-preview'} %>
    <% end %>
  <% else%>
    <div id="imgPreview"></div>
  <% end %>
  <%= f.input :images, as: :file %>
  <%#= link_to 'Télécharger une photo', '#', data: {behavior: 'uppy-trigger'}, class:"input-upload label-bold" %>
  <%= f.button :button, "Ajouter un commentaire", class: "btn-submit-form-comment btn-cta btn-fixed call-to-action", data: {spot_comments_target: 'btn'} %>
<% end %>

<div class="gps-container btn-cta btn-fixed call-to-action", data-spot-comments-target="addcomment", data-action = "click->spot-comments#display_form">
  Laisse un commentaire
</div>
