<div data-spot-comments-target='rating'>
    <h3>moyenne <%= spot.avg_rating %></h3>
    <p><%= spot.comments.where("rating = 5").count %></p>
    <p><%= spot.comments.where("rating = 4").count %></p>
    <p><%= spot.comments.where("rating = 3").count %></p>
    <p><%= spot.comments.where("rating = 2").count %></p>
    <p><%= spot.comments.where("rating = 1").count %></p>
  </div>
