
<div class="container-home">
  <div class="home-video-wrapper">
    <%= video_tag "video_mer.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
    <div class="home-content">
      <div class="logo">
        <%= image_tag "logo/logo_wits.svg", class: "logo-wits" %>
      </div>

      <div class="spot-parfait">
        Le spot parfait pour ton sport nautique préféré
      </div>


      <div class="btn-col-home">
        <div class="btn-connect call-to-action">
          <%= link_to "Se connecter", user_session_path %>
        </div>

        <div class="btn-sign-up call-to-action">
          <%= link_to "S'inscrire", new_user_registration_path %>
        </div>
      </div>

      <div class="btn-without-connect call-to-action">
        <%= link_to "Continuer sans se connecter", search_spots_path %>
      </div>

    </div>
  </div>
</div>
